<h1 style="font-weight: 300; font-size: 35px;">Movies database</h1>

<p-table [value]="movies">
    <ng-template pTemplate="header">
        <tr>
            <th style="width: 4rem;">ID</th>
            <th>Name</th>
            <th>Date</th>
            <th>Price</th>
            <th>Ranking</th>
            <th>Genre</th>
            <th style="width: 7rem;"></th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-movie let-i="rowIndex">
        <tr>
            <td>{{movie.id}}</td>
            <td><b>{{movie.name}}</b></td>
            <td>{{movie.date}}</td>
            <td>{{movie.price}}</td>
            <td>{{movie.ranking}}</td>
            <td>{{movie.genre}}</td>
            <td><button pButton pRipple type="button" label="Buy" class="p-button-info p-button-rounded" (click)="addNewOrder(getMovieIdByIndex(i))"></button></td>
        </tr>
    </ng-template>
</p-table>
