<h1 style="font-weight: 300; font-size: 35px;">Developer menu</h1>

<p>I certify that this assignment is entirely my own work, performed
    independently and without any help from the sources which are not allowed.</p>

<p>Przemyslaw Kapica</p>

<div class="p-fluid p-grid p-formgrid">
    <div class="p-field p-col-12 p-md-4">
        <label for="range">Range</label>
        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" inputId="range"></p-calendar>
    </div>
</div>